<%- include('includes/header') %>
<%- include('includes/navbar', { user: user }) %>

<main id="404-page" class="container py-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-lg-4 my-5 text-center">
      <h1>Not Found</h1>
      <p class="lead">Sorry we could not find the page you are looking for... But on the other hand, we found this <span class="font-weight-bold">unicorn</span> for you!</p>
    </div>

    <div class="col-sm-6 col-lg-4 order-sm-first">
      <img src="http://laoblogger.com/images/cartoon-unicorn-clipart-9.jpg" alt="Unicorn" class="img-fluid">
    </div>
  </div>
</main>

<%- include('includes/footer') %>
