<%- include('includes/header') %>
<%- include('includes/navbar', { user: user }) %>

<main id="404-page" class="container py-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-lg-4 my-5 text-center">
      <h1>Something went wrong</h1>
      <p class="lead">Sorry, something went wrong in our servers. But <span class="font-weight-bold">don't panic</span>, we already have spiderman looking into it.</p>
    </div>

    <div class="col-sm-6 col-lg-4 order-sm-first">
      <img src="http://clipart.info/images/ccovers/1495725899spiderman-clipart-cute-cartoon-for-kids-png.png" alt="Spiderman image" class="img-fluid">
    </div>
  </div>
</main>

<%- include('includes/footer') %>
