<%- include('includes/header', { css: ['login'] }) %>

<main id="page-login">
  <div class="row align-items-center justify-content-center m-0">
    <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 text-center my-5">
      <a href="/" class="no-decoration-link">
        <h1 class="font-brand text-warning mb-2">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          Polling
        </h1>
      </a>

      <form>
        <div class="form-group m-0" id="username">
          <label for="username-input" class="sr-only">Username</label>
          <input type="text" id="username-input" class="form-control" placeholder="Username" autofocus>
        </div>

        <div class="form-group" id="password">
          <label for="password-input" class="sr-only">Password</label>
          <input type="password" id="password-input" class="form-control" placeholder="Password">
          <p class="d-none text-danger text-right"></p>
        </div>

        <button type="submit" class="btn btn-warning btn-block">
          <i class="fa fa-sign-in"></i> Sign In
        </button>
      </form>
    </div>
  </div>
</main>

<%- include('includes/footer', { scripts: ['login'], bodyFooter: false }) %>
