.banner-bkg {
  background-color: gray;
  background: gray url(/assets/images/banner.jpg) no-repeat center;
  background-size: cover;
}
.banner {
  padding: 7rem 0;
  background-color: rgba(0, 0, 0, .4);
}
.banner h1 { font-size: 5.5rem; }

section { margin: 70px 0; }
